---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BaseHead from "../../components/BaseHead.astro";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../post/*.mdx");
  return [
    { params: { tag: "ebike" }, props: { posts: allPosts } },
    { params: { tag: "trending" }, props: { posts: allPosts } },
    { params: { tag: "offroad" }, props: { posts: allPosts } },
    { params: { tag: "tutorial" }, props: { posts: allPosts } },
    { params: { tag: "guides" }, props: { posts: allPosts } },
  ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) =>
  post.frontmatter.tags?.includes(tag)
);
---

<BaseHead title={tag} description="A page to display all our blog posts" />
<BaseLayout pageTitle={tag}>
  <div class="title-heading mx-3">
    <h1 class="gradient-text text-xlg font-extrabold tracking-tighter">
      {tag}
    </h1>
    <!-- <hr style="border-top: 2.5px solid #4e59bb; width: 72%; " /> -->
    <!-- <p class="w-3/4 pt-2 text-gray-400">{description}</p> -->
  </div>
  <div class="tag-grid grid-container">
    {
      filteredPosts.map((post) => (
        <li>
          <a href={"/post/" + post.frontmatter.slug}>
            <p>{post.frontmatter.title}</p>
            <p class="guide-decription" style="font-size: .8rem;">
              {post.frontmatter.description}
            </p>
            <small>{post.frontmatter.pubDate}</small>
          </a>
        </li>
      ))
    }
  </div>
</BaseLayout>

<style>
  .tag-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    text-decoration: none;
    grid-gap: 2rem;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    /* background-color: black; */
    max-width: 1152px;
    color: var(--color-primary);
  }
</style>
