---
import BlogLayout from "../../layouts/BlogLayout.astro";
import BaseHead from "../../components/BaseHead.astro";
import Alltags from "~/components/alltags.astro";
import SearchBar from "~/components/SearchBar.astro";
import Cardcontent from "~/components/_cardcontent.astro";

export async function getStaticPaths() {
const allPosts = await Astro.glob("../../pages/**/**/*.mdx");

// Extract unique tags lowercased
const allTags = allPosts.reduce((tags, post) => {
post.frontmatter.tags.forEach((tag) => {
const lowerTag = tag.toLowerCase();
if (!tags.includes(lowerTag)) {
tags.push(lowerTag);
}
});
return tags;
}, []);

const paths = allTags.map((tag) => ({
params: { tag },
props: { posts: allPosts },
}));

return paths;
}

const { tag } = Astro.params;
const { posts } = Astro.props;

const filteredPosts = posts.filter((post) =>
post.frontmatter.tags?.some((t) => t.toLowerCase() === tag.toLowerCase())
);

const displayTag = tag.charAt(0).toUpperCase() + tag.slice(1);
---

<BaseHead title={displayTag}
  description="Our featured articles cover all the latest developments, trends, and innovations in the eBike industry. From cutting-edge technology to new product releases, we cover everything that enthusiasts, riders, manufacturers, and everyone interested in the future of sustainable transportation should be tracking." />

<BlogLayout title={displayTag} description={`Discover more news on ${displayTag}. Our featured articles cover all the
  latest developments, trends, and innovations in the eBike industry.`}>
  <SearchBar />
  <Alltags />
  <div class="wrapper horizontalbar mx-5 my-10 grid grid-cols-1 gap-8 text-gray-100 sm:grid-cols-3">
    {filteredPosts.map((post) => (
    <Cardcontent post={post} key={post.frontmatter.slug} imageClass="h-64" />
    ))}
  </div>
</BlogLayout>