---
// import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogLayout from "../../layouts/BlogLayout.astro";
import BaseHead from "../../components/BaseHead.astro";
import { Pagination } from "accessible-astro-components";

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../**/*.mdx");
  return [
    { params: { tag: "ebike" }, props: { posts: allPosts } },
    { params: { tag: "trending" }, props: { posts: allPosts } },
    { params: { tag: "offroad" }, props: { posts: allPosts } },
    { params: { tag: "tutorial" }, props: { posts: allPosts } },
    { params: { tag: "guides" }, props: { posts: allPosts } },
  ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) =>
  post.frontmatter.tags?.includes(tag)
);
---

<head>
  <style>
    .tag-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      text-decoration: none;
      grid-gap: 2rem;
      list-style: none;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      /* background-color: black; */
      max-width: 1152px;
      color: var(--color-primary);
    }
    h1 {
      font-size: 5rem;
    }
    .layout {
      margin: 1rem;
    }
  </style>
</head>

<BaseHead title={tag} description="A page to display all our blog posts" />

<BlogLayout title={tag}>
  <div class="layout">
    <div class="title-heading">
      <!-- <hr style="border-top: 2.5px solid #4e59bb; width: 72%; " /> -->
      <!-- <p class="w-3/4 pt-2 text-gray-400">{description}</p> -->
    </div>
    <div class="tag-grid grid-container">
      {
        filteredPosts.map((post) => (
          <li class="font-bold text-gray-500 text-base ">
            <a href={"/../post/" + post.frontmatter.slug}>
              <p>{post.frontmatter.title}</p>
              <p class="guide-decription" style="font-size: .8rem;">
                {post.frontmatter.description}
              </p>
              <small>{post.frontmatter.pubDate}</small>
            </a>
          </li>
        ))
      }
    </div>
  </div>
</BlogLayout>
