---
import BlogLayout from "./layouts/BlogLayout.astro";
import { Card } from "accessible-astro-components";
import Footer from "../components/footer.astro";
import Header from "../components/header2.astro";

const posts = await Astro.glob("../pages/post/**/*.mdx");
---

<html>
  <head>
    <Header />
    <BlogLayout title="Featured Bikes">
      <section>
        <div class="container">
          <ul>
            {
              posts.map((post) => (
                <li>
                  <Card
                    url={"/post/" + post.frontmatter.slug}
                    img={post.frontmatter.image}
                    title={post.frontmatter.title}
                    footer={post.frontmatter.author}
                    style={{
                      background: "white",
                    }}
                  >
                    {post.frontmatter.description}
                    <div class="flex gap-x-2">
                      {post.frontmatter.tags &&
                        post.frontmatter.tags.map((tag: string) => (
                          <span>{tag}</span>
                        ))}
                    </div>
                    </Card>
                </li>
              ))
            }
          </ul>
        </div>
      </section>
    </BlogLayout>
    <Footer />

    <style lang="scss" is:global>
      body {
        background-color: #000;
      }
      .container {
        padding: 0;
      }

      ul {
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        list-style-type: none;
      }

      li > .card{
        background: black;
        border: 2px solid white;
        color: #818cf8;
        border-radius: 0.5rem;
      }

      span {
        background: #818cf8;
        border-radius: 0.5rem;
        padding: 4px 2px;
        margin: 5px 0px;
        color: white;
      }
    </style>
  </head>
</html>
