---
import BlogLayout from "../layouts/BlogLayout.astro";
import { Card } from "accessible-astro-components";
import Footer from "../components/footer2.astro";
// import Header from "../components/header2.astro";
// import Showcase from "../components/showcase2.astro";

const posts = await Astro.glob("../pages/post/**/*.mdx");
---

<html>
  <head>
    <style lang="scss" is:global>
      .blog-container {
        padding: 1rem;
      }

      flex span {
        background: #818cf8;
        border-radius: 0.5rem;
        padding: 3px 6px;
        margin: 5px 0px;
        color: white;
      }

      .blog ul {
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        list-style-type: none;
        align-items: center;
      }

      .card span {
        background: #818cf8;
        border-radius: 0.5rem;
        padding: 3px 6px;
        margin: 5px 0px;
        color: white;
      }
      .blog li > .card {
        background: black;
        border: 2px solid white;
        color: #818cf8;
        /* border-radius: 0.5rem; */
      }
    </style>
  </head>
  <div class="page-container">
    <BlogLayout title="Featured Articles">
      <section>
        <div class="blog blog-container">
          <ul>
            {
              posts.map((post) => (
                <li>
                  <Card
                    url={"/post/" + post.frontmatter.slug}
                    img={post.frontmatter.image}
                    title={post.frontmatter.title}
                    footer={post.frontmatter.author}
                  >
                    {post.frontmatter.description}
                    <div class="flex gap-x-2">
                      {post.frontmatter.tags &&
                        post.frontmatter.tags.map((tag: string) => (
                          <span>{tag}</span>
                        ))}
                    </div>
                  </Card>
                </li>
              ))
            }
          </ul>
        </div>
      </section>
    </BlogLayout>
    <!-- <Showcase /> -->
  </div>
  <Footer />


</html>
