---
import BlogLayout from "../../layouts/BlogLayout.astro";
import Alltags from "~/components/alltags.astro";
import PostViews from "~/components/PostViews.astro";
import SearchBar from "~/components/SearchBar.astro";
import TopDouble from "~/components/topdouble.astro";
import TopQuadriple from "~/components/topquadriple.astro";
import PaginatedComponent from "~/components/PaginatedComponentPosts.astro";
import AdHorizontal from "~/components/adhorizontal.astro";
import Adhorizontal from "~/components/adhorizontal.astro";

export async function getStaticPaths({ paginate }) {
  const post = await Astro.glob("./*.mdx");

  const sortedPosts = post.sort((a, b) => {
    const aDate = new Date(a.frontmatter.pubDate);
    const bDate = new Date(b.frontmatter.pubDate);

    return bDate - aDate;
  });

  return paginate(sortedPosts, { pageSize: 6, page: 1 });
}

const { page } = Astro.props;
---

<BlogLayout
  title="Electric Pulse"
  description="Stay informed with articles that highlight the latest developments, trends, and regulations in the eBike world—ensuring riders are prepared for the changes shaping their rides and the future of sustainable transportation."
>
  <section>
    <div class="tags">
      <SearchBar />
      <Alltags />
    </div>

    <div class="3-across">
      <div class="grid h-fit grid-cols-2 max-md:grid-cols-1">
        <!-- Block #1 -->
        <div class="p-5">
          <!-- Content for Block #1 -->
          <!-- Loop with images for Block #1 -->
          {
            page.data
              .filter(
                (post) =>
                  post.frontmatter.tags &&
                  post.frontmatter.tags.includes("Trends")
              )
              .slice(0, 1)
              .map((post) => (
                <div key={post.frontmatter.slug} class="mb-8">
                  <a href={"/post/" + post.frontmatter.slug}>
                    <img
                      class="rounded-lg"
                      src={post.frontmatter.image}
                      alt={post.frontmatter.title}
                    />
                    <p class="my-2 font-bold text-xl">
                      {post.frontmatter.title}
                    </p>
                    <p class="guide-decription my-2 text-sm">
                      {post.frontmatter.description}
                    </p>
                    <p class="text-gray-400">{post.frontmatter.excerpt}</p>
                    <p class="my-2 font-light text-sm">
                      {post.frontmatter.pubDate} | Posted
                      {post.frontmatter.pubTime}
                    </p>
                    <p class="guide-decription float-right my-2 text-gray-500 text-xs">
                      &#10711; {post.frontmatter.minutesRead}
                      <PostViews slug={post.frontmatter.slug} />
                    </p>
                  </a>
                </div>
              ))
          }
        </div>

        <!-- Block #2 -->
        <div class="grid grid-rows-3 gap-4 p-5">
          <!-- Loop with images for Block #2 -->
          {
            page.data
              .filter(
                (post) =>
                  post.frontmatter.tags.includes("Trends") ||
                  post.frontmatter.tags.includes("Urbanism")
              )
              .slice(0, 3)
              .map((post) => (
                <div
                  key={post.frontmatter.slug}
                  class="flex rounded-lg border border-stone-800 p-4"
                >
                  <a href={"/post/" + post.frontmatter.slug} class="flex">
                    <img
                      class="mr-4 size-24 rounded-lg object-cover"
                      src={post.frontmatter.image}
                      alt={post.frontmatter.title}
                    />
                    <div class="flex flex-col justify-between">
                      <div>
                        <p class="text-md font-bold">
                          {post.frontmatter.title}
                        </p>
                        {/* <p class="guide-decription text-sm">
                    {post.frontmatter.description}
                  </p> */}
                        <p class="text-sm/[9px] text-gray-400">
                          {post.frontmatter.excerpt}
                        </p>
                      </div>
                      <div class="flex items-center justify-between">
                        <p class="font-light text-xs">
                          {post.frontmatter.pubDate} | Posted{" "}
                          {post.frontmatter.pubTime}
                        </p>
                        <p class="guide-decription text-gray-500 text-xs">
                          &#10711; {post.frontmatter.minutesRead}{" "}
                          <PostViews slug={post.frontmatter.slug} />
                        </p>
                      </div>
                    </div>
                  </a>
                </div>
              ))
          }
        </div>
      </div>
    </div>

    <TopDouble />

    <TopQuadriple />

    <Adhorizontal />

    <PaginatedComponent page={page} posts={page.data} />
  </section>
</BlogLayout>
