---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "Featured Bikes",
    description: "Explore a collection of our featured bikes",
    icon: "mdi:motorbike",
    url: "/featured/",
  },
  {
    title: "Guides and Tutorial",
    description: "Your complete guide to maintaining and tuning your ebike",
    icon: "mdi:gear",
    url: "/guides/",
  },
  {
    title: "News and Updates ",
    description:
      "Stay up to date on the latest ebike news articles curated to fuel your electric lifestyle",
    icon: "mdi:newspaper",
    url: "/featured/",
  },
];
---

<ContentSection title="Upcoming" id="features">
  <Fragment slot="lead">
    <span class="text-primary">
      Our website is currently under construction. Stay tuned for updates and be
      sure to check our socials below.
    </span>
    <br />
    <br />
    Our planned
    <span class="text-primary">features</span>
    expected in <span class="text-primary">2024 year</span>.
  </Fragment>
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon, url }) => (
        <li class="gradient flex flex-col items-center gap-4 border border-default  p-6">
          <a href={url}>
            <div class="h-16 w-16 rounded-full border-2 border-current p-3">
              <Icon name={icon} />
            </div>
          </a>
          <a href={url}>
            <p class="text-center font-extrabold text-xl">{title}</p>
          </a>
          <p class="text-center text-offset text-sm">{description}</p>
        </li>
      ))
    }
  </ul>
</ContentSection>

<style>
  ul {
    background-color: #0f1217;
  }
</style>
