---
const posts = await Astro.glob("../pages/post/**/*.mdx");
---

<div class="wrapper max-w-6xl">
  <div class="recent-posts p-2 pt-12 max-sm:m-3">
    <div class="heading">
      <a href="/post">
        <h2>Discover</h2>
      </a>
      <hr style="width:100%;" />
    </div>
    <div class="horizontalbar">
      <!-- Loop with images -->
      {
        posts
          .sort((a, b) => {
            const aDate = new Date(a.frontmatter.pubDate);
            const bDate = new Date(b.frontmatter.pubDate);
            return bDate - aDate;
          })
          .filter(
            (post) =>
              post.frontmatter.tags.includes("Urbanism") ||
              post.frontmatter.tags.includes("Micromobility")
          )
          .slice(0, 4)
          .map((post) => (
            <li>
              <a href={"/post/" + post.frontmatter.slug}>
                <div class="post-container">
                  <div class="image-container">
                    <img
                      class="rounded-lg"
                      src={post.frontmatter.image}
                      alt={post.frontmatter.title}
                    />
                  </div>
                  <div class="text-container">
                    <p class="my-2 font-bold text-sm">
                      {post.frontmatter.title}
                    </p>
                    <p class="guide-decription my-2" style="font-size: .8rem;">
                      {post.frontmatter.description}
                    </p>
                    <p class="font-light" style="font-size: .8rem;">
                      {post.frontmatter.pubDate}
                    </p>
                    <p
                      class="guide-decription float-right text-gray-500"
                      style="font-size: .7rem;"
                    >
                      &#10711; {post.frontmatter.minutesRead}
                    </p>
                  </div>
                </div>
              </a>
            </li>
          ))
      }
    </div>
  </div>
</div>

<style>
  .wrapper {
    /* background-color: black; */
    margin: 0 auto;
    margin: auto;
  }

  .heading h2 {
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
  }

  .heading hr {
    border-top: 1px solid #4e59bb;
    color: var(--color-primary);
  }

  .horizontalbar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    /* Adjust the gap between items */
    text-decoration: none;
    max-width: 1152px;
    color: var(--color-primary);
  }

  .horizontalbar li {
    text-decoration: none;
    list-style: none;
    display: grid;
    grid-template-rows: auto 1fr auto auto auto;
  }

  .post-container {
    display: grid;
    grid-template-rows: 1fr auto auto auto;
    height: 100%;
  }

  .image-container img {
    padding-top: 1rem;
    height: 190px;
    width: 100%;
    object-fit: cover;
  }

  .text-container {
    /* text-align: center; */
    /* padding: 1rem; */
  }
</style>
