---
import { Pagination } from "accessible-astro-components";

export interface Props {
  page: any;
  posts: any;
}

const { page } = Astro.props;

const totalPages = Math.ceil(page.total / page.size);
const firstPage = page.url.prev ? "/posts" : null;
const previousPage = page.url.prev || null;
const nextPage = page.url.next || null;
const lastPage = page.url.next ? `/posts/${totalPages}` : null;
---

<section class="py-12 text-gray-400">
  <div class="blog m-0">
    <p class="text-sm">
      <em>
        post {page.start + 1} through {page.end + 1} of {page.total} total posts
      </em>
    </p>

    <ul
      class="m-3 grid gap-5 sm:grid-cols-[repeat(auto-fill,minmax(340px,1fr))]"
    >
      {
        page.data && page.data.length > 0 ? (
          page.data.map((post) => (
            <li
              class="flex flex-col rounded-lg border-2 border-stone-800 text-center shadow-2xl"
              key={post.frontmatter.slug}
            >
              <a href={`/post/${post.frontmatter.slug}`}>
                <img
                  class="h-56 w-full rounded-lg object-cover"
                  src={post.frontmatter.image}
                  alt={post.frontmatter.title}
                  loading="lazy"
                />

                <div class="mt-2 space-x-2">
                  {post.frontmatter.tags?.map((tag, index) => (
                    <span key={index} class="text-sm">
                      <a href={`/tags/${tag}`} class=" hover:underline">
                        {tag}
                      </a>
                      {index < post.frontmatter.tags.length - 1 && (
                        <span class="mx-1 ">|</span>
                      )}
                    </span>
                  ))}
                </div>
              </a>
              <a href={`/post/${post.frontmatter.slug}`} class="flex flex-col">
                <p class="gradient-text my-2 px-3 font-bold text-lg">
                  {post.frontmatter.title}
                </p>
                <p class=" px-3 font-normal  " style="font-size: .8rem;">
                  {post.frontmatter.excerpt}
                </p>
                <p class="my-2 font-light " style="font-size: .8rem;">
                  {post.frontmatter.pubDate} | Posted {post.frontmatter.pubTime}
                </p>
                <p class="guide-decription my-2 " style="font-size: .7rem;">
                  &#10711; {post.frontmatter.minutesRead}
                </p>
              </a>
              <div class="my-3">
                <a
                  href={`/post/${post.frontmatter.slug}`}
                  class="text-md gradient-text mx-2 uppercase hover:text-gray-700 hover:underline"
                >
                  Read More
                </a>
              </div>
            </li>
          ))
        ) : (
          <li class="text-center text-white">No posts available</li>
        )
      }
    </ul>
    <div class="mt-12 grid place-content-center">
      <Pagination
        firstPage={firstPage}
        previousPage={previousPage}
        nextPage={nextPage}
        lastPage={lastPage}
        currentPage={page.currentPage}
        totalPages={totalPages}
      />
    </div>
  </div>
</section>
