---
import "../styles/blog.css";
import "../styles/global.css";
import Header from "../components/header4.astro";
import Footer from "../components/footer2.astro";
import Accordian from "../components/accordian.astro";
import Sidebar from "../components/sidebar.astro";
import Cta from "../components/cta.astro";
import Horizontalbar from "~/components/horizontalbar-guides.astro";
import Horizontalbar2 from "~/components/horizontalbar.astro";
import PostViews from "~/components/PostViews.astro";

const { minutesRead } = Astro.props.frontmatter;
const {
  frontmatter: {
    title,
    description,
    pubDate,
    pubTime,
    image,
    author,
    credit,
    slug,
    buyLink,
    product,
    tags,
  },
} = Astro.props;

export const prerender = true;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/logo.png" type="image/svg+xml" />
  </head>

  <body class="h-min bg-black text-white">
    <Header />

    <div class="mx-5 flex min-h-screen max-w-5xl pt-10 sm:mx-auto">
      <!-- Main Content -->
      <main class="flex-3 space-y-4 font-normal tracking-wider text-gray-300">
        <!-- Back to Previous -->
        <a href="javascript:history.back()" class="gradient-text"
          >Back to Previous</a
        >
        <a class="text-white">| {title}</a>

        <article class="mdx space-y-6">
          <div class="article-head space-y-2">
            <h1 class="gradient-text font-extrabold tracking-tighter text-4xl">
              {title}
            </h1>

            <!-- Author and Time Information -->
            <div class="flex w-full justify-between text-gray-400 text-sm">
              <div class="flex items-center space-x-2">
                <span class="mr-2">&#x270E;</span>
                <span>{author}</span>
              </div>
              <div class="flex items-center space-x-2">
                <span>&#10711;</span>
                <span>{minutesRead}</span>
                <PostViews slug={slug} />
              </div>
            </div>
          </div>

          <div class="article-body space-y-4">
            {image && <img class="h-auto w-full" src={image} alt="" />}
            <small class="gradient-text block py-1">
              Published on: {pubTime} • {pubDate && <time>{pubDate}</time>}
              {credit}
            </small>

            <hr class="" />
            <slot class="mdx" />
          </div>
        </article>

        <!-- Conditionally render the buyLink -->
        {
          buyLink && (
            <div class="mt-6">
              <a href={buyLink} class="text-gradient hover:text-gray-700">
                Buy the {product}
              </a>
            </div>
          )
        }

        <div class="space-x-4">
          <a href="javascript:history.back()" class="gradient-text"
            >Back to Previous</a
          >
          <span>|</span>
          <a href="/" class="gradient-text">Back to Home</a>
        </div>
      </main>

      <!-- Sidebar -->
      <div class="sidebar-container hidden lg:flex lg:w-1/4">
        <Sidebar />
      </div>
    </div>

    <!-- Accordion Component -->
    <Accordian />

    <!-- Call to Action Component -->
    <Cta />

    <!-- Horizontal Bars -->
    <Horizontalbar2 />
    <Horizontalbar />
  </body>

  <Footer />
</html>
